atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
coverage==4.5.2
Flask==1.0.2
Flask-Cors==3.0.7
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
pluggy==0.8.1
psycopg2-binary==2.7.7
py==1.7.0
pytest==4.1.1
pytest-cov==2.6.1
pytest-flask==0.14.0
pytest-flask-sqlalchemy==1.0.0
pytest-mock==1.10.0
six==1.12.0
SQLAlchemy==1.2.16
sqlparse==0.2.4
Werkzeug==0.14.1
